# portfolio optimization
- dataset preparation

In [ ]:
import os
import numpy as np
import torch

import pandas as pd
from typing import Optional, List, Dict

import holidays

In [ ]:
# path constant
data_root = "./data/"
raw = "raw"
# manual constants

# 다룰 데이터의 시작 지점
start_date = "2006-01-01"
end_date = "2021-12-31"
timelines = ["9008", "0924"]
timelines_alt = "0208"
window_size_years = 7
step_size_years = 1

lookback_T = 60

data_split: List[int] = {
    "train": 5,
    "val": 1,
    "test": 1}  # train, val, test

# data processing option
filter_date: bool = True 
filter_holidays: bool = True

base_ticker: str = "SPX"
interpolation_target: List[str] = ["SPXHC"]  # 몇몇 거래일의 정보가 소실되어 있음

start_date: pd.Timestamp = pd.to_datetime(start_date)
end_date: pd.Timestamp = pd.to_datetime(end_date)

In [39]:
# code snippet
## 영업일 filter
def get_closed_days(start_date: pd.Timestamp, end_date: pd.Timestamp):
    us_holidays_dict = holidays.XNYS(years=range(start_date.year, end_date.year+1))  # 2002년부터 2023년까지의 공휴일
    us_holidays = pd.to_datetime(list(us_holidays_dict.keys()))
    
    all_dates = pd.date_range(start=start_date, end=end_date)
    weekends = all_dates[all_dates.weekday >= 5]  # 토요일(5), 일요일(6)

    # 공휴일과 주말 합치기
    all_holidays = pd.concat([pd.Series(us_holidays), pd.Series(weekends)]).drop_duplicates().sort_values()
    
    return all_holidays

def convert_volume(value):  # to handle Vol. Column
    if isinstance(value, str):
        value = value.strip()
        if value.endswith('B'):
            return float(value[:-1]) * 10**9
        elif value.endswith('M'):
            return float(value[:-1]) * 10**6
        elif value.endswith('K'):
            return float(value[:-1]) * 10**3
        elif value == '':
            return np.nan
        else:
            return float(value)
    else:
        return np.nan

# hard coded values    
def convert_columns(df: pd.DataFrame) -> pd.DataFrame:
    numeric_cols = ['Price', 'Open', 'High', 'Low']
    df[numeric_cols] = df[numeric_cols].map(lambda x: str(x).replace(',', '')).astype(float)

    df["Vol."] = df["Vol."].apply(convert_volume)

    df['Change %'] = df['Change %'].str.replace('%', '', regex=False).astype(float) * 0.01
        
    return df

In [ ]:
# raw data processing
snp_indices_raw = {
    "SPX": "S&P 500",  # done
    "SPLRCT": "S&P 500 Information Technology",  # done
    "SPLRCL": "S&P 500 Telecom Services",  # done
    "SPLRCM": "S&P 500 Materials",  # done
    "SPLRCREC": "S&P 500 Real Estate",  # 20020101부터 사용가능  # done
    "SPLRCS": "S&P 500 Consumer Staples",  # done
    "SPSY": "S&P 500 Financials",  # done
    "SPNY": "S&P 500 Energy",  # done
    "SPXHC": "S&P 500 Health Care",  # done, # 중간에 정보 손실 interpolation 해버리기
    "SPLRCD": "S&P 500 Consumer Discretionary",  # done
    "SPLRCI": "S&P 500 Industrials",  # done
    "SPLRCU": "S&P 500 Utilities",  # done
    "VIX": "CBOE Volatility Index",  # done
}  # {ticker: name} for investing.com

snp_indices_raw_data = {}
for key, value in snp_indices_raw.items():
    print(f"Raw data Processing {value}")
    temp_df_list = []
    for _each_timeline in timelines:
        # load csv
        if _each_timeline == "9008" and key == "SPLRCREC":
            each_timeline = timelines_alt
        else:
            each_timeline = _each_timeline
        csv_path = os.path.join(data_root, raw, f"{key}{each_timeline}.csv")    
        each_df = pd.read_csv(csv_path)
        each_df["Date"] = pd.to_datetime(each_df["Date"])
        
        # specific date range        
        if filter_date:
            each_df = each_df[(each_df["Date"] >= start_date) & (each_df["Date"] <= end_date)]

        temp_df_list.append(each_df)
        
    merged_df = pd.concat(temp_df_list)
    merged_df = merged_df.sort_values("Date", ascending=True)
    
    if filter_holidays:
        us_holidays = get_closed_days(start_date, end_date)
        # 2002년부터 2023년까지의 공휴일
        merged_df = merged_df[~merged_df["Date"].isin(us_holidays)]
        
    merged_df = convert_columns(merged_df)
        
    merged_df["T"] = range(len(merged_df))
    merged_df = merged_df.reset_index(drop=True).set_index("T")
    
    snp_indices_raw_data[key] = merged_df

if len(interpolation_target) > 0:
    print("Missing value linear interpolation")
    full_date = snp_indices_raw_data[base_ticker]["Date"]
    
    for key in interpolation_target:
        snp_indices_raw_data[key] = snp_indices_raw_data[key].set_index("Date").reindex(full_date)# .interpolate(method="linear")
        snp_indices_raw_data[key]["T"] = range(len(snp_indices_raw_data[key]))
        snp_indices_raw_data[key] = snp_indices_raw_data[key].reset_index(drop=False).set_index("T")

Raw data Processing S&P 500
Raw data Processing S&P 500 Information Technology
Raw data Processing S&P 500 Telecom Services
Raw data Processing S&P 500 Materials
Raw data Processing S&P 500 Real Estate
Raw data Processing S&P 500 Consumer Staples
Raw data Processing S&P 500 Financials
Raw data Processing S&P 500 Energy
Raw data Processing S&P 500 Health Care
Raw data Processing S&P 500 Consumer Discretionary
Raw data Processing S&P 500 Industrials
Raw data Processing S&P 500 Utilities
Raw data Processing CBOE Volatility Index
Missing value linear interpolation

In [42]:
snp_indices_raw_data["SPX"]# key # snp_indices_raw_data[key]

           Date   Price    Open    High     Low          Vol.  Change %
T
0    2006-01-03  1268.8  1248.3  1270.2  1245.7           NaN    0.0164
1    2006-01-04  1273.5  1268.8  1275.4  1267.7           NaN    0.0037
2    2006-01-05  1273.5  1273.5  1276.9  1270.3           NaN    0.0000
3    2006-01-06  1285.5  1273.5  1286.1  1273.5           NaN    0.0094
4    2006-01-09  1290.2  1285.5  1290.8  1284.8           NaN    0.0037
...         ...     ...     ...     ...     ...           ...       ...
4023 2021-12-27  4791.2  4734.0  4791.5  4734.0  1.450000e+09    0.0138
4024 2021-12-28  4786.4  4795.5  4807.0  4780.0  1.370000e+09   -0.0010
4025 2021-12-29  4793.1  4788.6  4804.1  4778.1  1.250000e+09    0.0014
4026 2021-12-30  4778.7  4794.2  4808.9  4775.3  1.300000e+09   -0.0030
4027 2021-12-31  4766.2  4775.2  4786.8  4765.8  1.220000e+09   -0.0026

[4028 rows x 7 columns]

In [43]:
for each_year in range(2006, 2023):
    print(f"Year {each_year}")
    print(f'num work date: {len(snp_indices_raw_data["SPX"][snp_indices_raw_data["SPX"]["Date"].dt.year == each_year])}')

Year 2006
num work date: 251
Year 2007
num work date: 251
Year 2008
num work date: 253
Year 2009
num work date: 252
Year 2010
num work date: 252
Year 2011
num work date: 252
Year 2012
num work date: 250
Year 2013
num work date: 252
Year 2014
num work date: 252
Year 2015
num work date: 252
Year 2016
num work date: 252
Year 2017
num work date: 251
Year 2018
num work date: 251
Year 2019
num work date: 252
Year 2020
num work date: 253
Year 2021
num work date: 252
Year 2022
num work date: 0

In [44]:
"""
sanity check
동일한 영업일에서 데이터가 형성되어있는 가를 확인하기 위함
SPXHC ticker에 대해서만 일부 데이터 누락이 있어서 interpolation이 필요함
기준은 SPX로 한다.

"""

# overall sanity check
all_dates = [df["Date"] for df in snp_indices_raw_data.values()]
reference_dates = all_dates[0]

for key, dates in zip(snp_indices_raw_data.keys(), all_dates):
    print(f"{key}: {len(dates)}")
    if not dates.equals(reference_dates):
        print(f"{key} has different dates.")
    else:
        print(f"{key} has the same dates.")

### ticker_wise check
search_target = "short_date" # "short_date"
target_ticker = "SPXHC"
short_date = snp_indices_raw_data[target_ticker]["Date"].to_list()

missing_dates = {}
for key, each_df in snp_indices_raw_data.items():
    if key != target_ticker:
        missing_dates[key] = [date for date in short_date if date not in each_df["Date"].values]

# 누락된 날짜 출력
for key, dates in missing_dates.items():
    print(f"{key} missing dates:")
    print(dates)

SPX: 4028
SPX has the same dates.
SPLRCT: 4028
SPLRCT has the same dates.
SPLRCL: 4028
SPLRCL has the same dates.
SPLRCM: 4028
SPLRCM has the same dates.
SPLRCREC: 4028
SPLRCREC has the same dates.
SPLRCS: 4028
SPLRCS has the same dates.
SPSY: 4028
SPSY has the same dates.
SPNY: 4028
SPNY has the same dates.
SPXHC: 4028
SPXHC has the same dates.
SPLRCD: 4028
SPLRCD has the same dates.
SPLRCI: 4028
SPLRCI has the same dates.
SPLRCU: 4028
SPLRCU has the same dates.
VIX: 4028
VIX has the same dates.
SPX missing dates:
[]
SPLRCT missing dates:
[]
SPLRCL missing dates:
[]
SPLRCM missing dates:
[]
SPLRCREC missing dates:
[]
SPLRCS missing dates:
[]
SPSY missing dates:
[]
SPNY missing dates:
[]
SPLRCD missing dates:
[]
SPLRCI missing dates:
[]
SPLRCU missing dates:
[]
VIX missing dates:
[]

In [ ]:
def deform_struct(folded_data: List[Dict[str, Dict[str, pd.DataFrame]]]) -> List[Dict[str, Dict[str, pd.DataFrame]]]:
    """
    [{ticker: {train: pd.DataFrame, val: pd.DataFrame, test: pd.DataFrame}}] -> [{train: {ticker: pd.DataFrame}, val: {ticker: pd.DataFrame}, test: {ticker: pd.DataFrame}}]
    """
    new_structure = []
    for each_fold in folded_data:
        new_structure.append(transform_dict_structure(each_fold))
    
    return new_structure

def split_window_by_year(window: pd.DataFrame, split: Dict[str, int]) -> Dict[str, pd.DataFrame]:
    split_dfs = {}
    start_year = window['Date'].dt.year.min()
    
    for key, years in split.items():
        end_year = start_year + years
        split_dfs[key] = window[(window['Date'].dt.year >= start_year) & (window['Date'].dt.year < end_year)]
        start_year = end_year
    
    return split_dfs  # {train: pd.DataFrame, val: pd.DataFrame, test: pd.DataFrame}

def window_by_year(df_dict: Dict[str, pd.DataFrame], start_date: pd.Timestamp, window_size_years: int, split: Dict[str, int], is_last: bool = False, raw_end_date: Optional[pd.Timestamp]=None) -> Dict[str, pd.DataFrame]:
    folded_dict_df: Dict[str, pd.DataFrame] = {}
    
    if is_last:
        assert raw_end_date is not None, "raw_end_date is required"
        for key, each_df in df_dict.items():
            window_each_df = each_df[(each_df['Date'] >= start_date) & (each_df['Date'] < raw_end_date)]
            window_df_split_dict = split_window_by_year(window_each_df, split)
            folded_dict_df[key] = window_df_split_dict
    else:
        for key, each_df in df_dict.items():
            window_end_date = start_date + pd.DateOffset(years=window_size_years)
            window_each_df = each_df[(each_df['Date'] >= start_date) & (each_df['Date'] < window_end_date)]
            window_df_split_dict = split_window_by_year(window_each_df, split)
            folded_dict_df[key] = window_df_split_dict

    return folded_dict_df  # {ticker: {train: pd.DataFrame, val: pd.DataFrame, test: pd.DataFrame}}

def transform_dict_structure(folded_data: Dict[str, Dict[str, pd.DataFrame]]) -> Dict[str, Dict[str, pd.DataFrame]]:
    
    # {ticker: {train: pd.DataFrame, val: pd.DataFrame, test: pd.DataFrame}} -> {train: {ticker: pd.DataFrame}, val: {ticker: pd.DataFrame}, test: {ticker: pd.DataFrame}}
    
    new_structure = {}
    
    for ticker, splits in folded_data.items():
        for split, df in splits.items():
            if split not in new_structure:
                new_structure[split] = {}
            new_structure[split][ticker] = df
    
    return new_structure

def sliding_window_by_date(df_dict: Dict[str, pd.DataFrame], window_size_years: int, split: Dict[str, int], step_size_years: int, default_key: str):
    assert window_size_years == sum(split.values()), "Window size and split size mismatch"
    
    folded_snp_indices_raw_data: List[Dict[Dict[str, Dict[str, pd.DataFrames]]]] = []
    start_date = df_dict[default_key]['Date'].min()
    end_date = df_dict[default_key]['Date'].max()
    
    while start_date + pd.DateOffset(years=window_size_years) <= end_date:
        folded_dict_df = window_by_year(df_dict, start_date, window_size_years, split)
        start_date += pd.DateOffset(years=step_size_years)
        folded_snp_indices_raw_data.append(folded_dict_df)
    
    if start_date < end_date:
        folded_dict_df = window_by_year(df_dict, start_date, window_size_years, split, is_last=True, raw_end_date=end_date)
        folded_snp_indices_raw_data.append(folded_dict_df)
        
    return folded_snp_indices_raw_data

# 슬라이딩 윈도우 적용
windows_list_df_dict = sliding_window_by_date(snp_indices_raw_data, window_size_years, data_split, step_size_years, base_ticker)

windows_list_df_dict_deformed = deform_struct(windows_list_df_dict)

# 다만, train, eval, test split으로 분리를 해야 하니까 다시 조금만 더 가공이 필요함
# TODO 그리고, 지금 걱정 되는 data 효율 처리를 위해서는 그냥 한 dataframe으로 만들어 버려야 겠다.

In [ ]:
# environment를 구축하기 전에 각각의 환경에 대해서 data prepocessing을 해야 한다.
# neural network에 state로 들어가는 경우에 있어서는 log를 취한다.

{'SPX':            Date   Price    Open    High     Low  Vol.  Change %
 T
 0    2006-01-03  1268.8  1248.3  1270.2  1245.7   NaN    0.0164
 1    2006-01-04  1273.5  1268.8  1275.4  1267.7   NaN    0.0037
 2    2006-01-05  1273.5  1273.5  1276.9  1270.3   NaN    0.0000
 3    2006-01-06  1285.5  1273.5  1286.1  1273.5   NaN    0.0094
 4    2006-01-09  1290.2  1285.5  1290.8  1284.8   NaN    0.0037
 ...         ...     ...     ...     ...     ...   ...       ...
 1254 2010-12-27  1257.5  1254.7  1258.4  1251.5   NaN    0.0006
 1255 2010-12-28  1258.5  1259.1  1259.9  1256.2   NaN    0.0008
 1256 2010-12-29  1259.8  1258.8  1262.6  1258.8   NaN    0.0010
 1257 2010-12-30  1257.9  1259.4  1261.1  1256.3   NaN   -0.0015
 1258 2010-12-31  1257.6  1256.8  1259.3  1254.2   NaN   -0.0002

 [1259 rows x 7 columns],
 'SPLRCT':            Date  Price   Open   High    Low        Vol.  Change %
 T
 0    2006-01-03  337.5  330.8  338.5  329.7   8650000.0    0.0203
 1    2006-01-04  341.3  337.5  341.6  337.5   8150000.0    0.0111
 2    2006-01-05  344.0  341.3  344.4  341.3   8830000.0    0.0079
 3    2006-01-06  349.5  344.0  349.5  344.0  10840000.0    0.0161
 4    2006-01-09  350.5  349.5  352.4  348.0   8040000.0    0.0029
 ...         ...    ...    ...    ...    ...         ...       ...
 1254 2010-12-27  405.9  405.1  406.6  402.4   3200000.0    0.0019
 1255 2010-12-28  405.8  405.9  407.2  405.1   3180000.0   -0.0002
 1256 2010-12-29  406.2  405.8  407.5  405.8   2970000.0    0.0010
 1257 2010-12-30  405.4  406.2  406.5  404.9   2680000.0   -0.0020
 1258 2010-12-31  404.5  405.4  405.4  403.0   2870000.0   -0.0021

 [1259 rows x 7 columns],
 'SPLRCL':            Date   Price    Open    High     Low         Vol.  Change %
 T
 0    2006-01-03  117.98  117.43  118.22  116.70   66780000.0    0.0047
 1    2006-01-04  119.04  117.98  119.38  117.98   85430000.0    0.0090
 2    2006-01-05  119.49  119.04  119.90  118.85   90120000.0    0.0038
 3    2006-01-06  119.63  119.49  119.86  119.00  129060000.0    0.0012
 4    2006-01-09  119.79  119.63  119.90  119.07   85000000.0    0.0013
 ...         ...     ...     ...     ...     ...          ...       ...
 1254 2010-12-27  128.18  127.81  128.43  127.53   63810000.0    0.0029
 1255 2010-12-28  128.12  128.18  128.47  128.08   84060000.0   -0.0005
 1256 2010-12-29  128.24  128.12  128.60  128.00   69160000.0    0.0009
 1257 2010-12-30  128.33  128.24  128.47  127.95   57590000.0    0.0007
 1258 2010-12-31  128.74  128.33  129.27  128.33   68630000.0    0.0032

 [1259 rows x 7 columns],
 'SPLRCM':            Date   Price    Open    High     Low        Vol.  Change %
 T
 0    2006-01-03  190.76  187.12  190.92  186.88  85810000.0    0.0195
 1    2006-01-04  191.93  190.76  191.97  190.38  82620000.0    0.0061
 2    2006-01-05  191.74  191.93  191.93  190.72  64140000.0   -0.0010
 3    2006-01-06  194.10  191.74  194.54  191.74  56460000.0    0.0123
 4    2006-01-09  193.82  194.10  194.43  193.47  54500000.0   -0.0014
 ...         ...     ...     ...     ...     ...         ...       ...
 1254 2010-12-27  237.93  237.98  238.22  236.21  52050000.0   -0.0003
 1255 2010-12-28  238.62  237.93  238.86  237.93  56240000.0    0.0029
 1256 2010-12-29  239.51  238.45  239.97  238.45  64490000.0    0.0037
 1257 2010-12-30  239.42  239.45  240.43  239.20  62020000.0   -0.0004
 1258 2010-12-31  239.61  239.42  240.22  238.87  53930000.0    0.0008

 [1259 rows x 7 columns],
 'SPLRCREC':            Date   Price    Open    High     Low        Vol.  Change %
 T
 0    2006-01-03  133.60  130.33  133.76  129.80         NaN    0.0251
 1    2006-01-04  134.23  133.52  134.45  133.36         NaN    0.0047
 2    2006-01-05  135.40  134.14  136.22  134.13         NaN    0.0087
 3    2006-01-06  137.16  135.55  137.16  135.55         NaN    0.0130
 4    2006-01-09  138.14  137.28  138.14  137.14         NaN    0.0071
 ...         ...     ...     ...     ...     ...         ...       ...
 1254 2010-12-27  120.45  118.83  120.45  118.39  22810000.0    0.0135
 1255 2010-12-28  120.58  120.40  120.79  119.85  24710000.0    0.0011
 1256 2010-12-29  120.98  120.53  121.08  120.10  21910000.0    0.0033
 1257 2010-12-30  120.90  120.92  121.33  120.42  21430000.0   -0.0007
 1258 2010-12-31  120.58  120.89  121.51  120.44  24190000.0   -0.0026

 [1259 rows x 7 columns],
 'SPLRCS':            Date   Price    Open    High     Low         Vol.  Change %
 T
 0    2006-01-03  241.77  240.17  241.83  239.09  126580000.0    0.0067
 1    2006-01-04  242.36  241.77  242.61  241.59  114080000.0    0.0024
 2    2006-01-05  241.27  242.36  242.82  240.94  126840000.0   -0.0045
 3    2006-01-06  242.35  241.27  242.35  240.73  113140000.0    0.0045
 4    2006-01-09  243.22  242.35  243.42  241.93  102980000.0    0.0036
 ...         ...     ...     ...     ...     ...          ...       ...
 1254 2010-12-27  303.27  304.56  304.56  303.18   81850000.0   -0.0042
 1255 2010-12-28  303.75  303.27  304.02  302.87   90390000.0    0.0016
 1256 2010-12-29  303.72  303.62  304.47  303.62   93560000.0   -0.0001
 1257 2010-12-30  303.46  303.72  303.72  303.03   82620000.0   -0.0009
 1258 2010-12-31  303.58  303.46  304.18  302.83   87260000.0    0.0004

 [1259 rows x 7 columns],
 'SPSY':            Date   Price    Open    High     Low       Vol.  Change %
 T
 0    2006-01-03  433.48  426.40  433.79  424.85  2320000.0    0.0166
 1    2006-01-04  432.63  433.48  434.56  431.21  2310000.0   -0.0020
 2    2006-01-05  434.19  432.63  434.19  432.32  2050000.0    0.0036
 3    2006-01-06  436.43  434.19  436.91  433.15  1980000.0    0.0052
 4    2006-01-09  438.29  436.43  438.44  436.20  1960000.0    0.0043
 ...         ...     ...     ...     ...     ...        ...       ...
 1254 2010-12-27  215.65  213.62  215.66  212.81  6320000.0    0.0095
 1255 2010-12-28  215.71  215.64  216.28  215.21  5350000.0    0.0003
 1256 2010-12-29  215.08  215.69  215.97  215.01  4370000.0   -0.0029
 1257 2010-12-30  214.32  215.07  215.07  213.90  4130000.0   -0.0035
 1258 2010-12-31  214.77  214.32  215.09  213.85  4050000.0    0.0021

 [1259 rows x 7 columns],
 'SPNY':            Date   Price    Open    High     Low         Vol.  Change %
 T
 0    2006-01-03  389.54  372.73  389.54  372.73  161790000.0    0.0451
 1    2006-01-04  390.84  389.54  391.77  385.54  133150000.0    0.0033
 2    2006-01-05  386.76  390.84  390.96  383.52  143810000.0   -0.0104
 3    2006-01-06  395.48  386.76  396.61  386.76  128610000.0    0.0225
 4    2006-01-09  395.46  395.48  397.78  392.42  112680000.0   -0.0001
 ...         ...     ...     ...     ...     ...          ...       ...
 1254 2010-12-27  500.16  501.98  501.98  498.65   76820000.0   -0.0036
 1255 2010-12-28  502.36  500.16  503.08  499.85   88190000.0    0.0044
 1256 2010-12-29  506.38  502.36  508.09  502.36  105430000.0    0.0080
 1257 2010-12-30  506.96  506.37  509.06  505.25  110910000.0    0.0011
 1258 2010-12-31  506.75  506.96  509.27  505.44   99520000.0   -0.0004

 [1259 rows x 7 columns],
 'SPXHC':            Date   Price    Open    High     Low  Vol.  Change %
 T
 0    2006-01-03  372.26  367.49  373.10  366.98   NaN    0.0130
 1    2006-01-04  375.34  372.26  375.89  372.26   NaN    0.0083
 2    2006-01-05  374.77  375.34  376.67  374.03   NaN   -0.0015
 3    2006-01-06  377.49  374.77  377.88  374.77   NaN    0.0073
 4    2006-01-09  379.38  377.49  379.38  377.20   NaN    0.0050
 ...         ...     ...     ...     ...     ...   ...       ...
 1254 2010-12-27  365.90  366.75  366.75  365.04   NaN   -0.0028
 1255 2010-12-28  366.01  365.90  366.91  365.45   NaN    0.0003
 1256 2010-12-29  366.21  366.17  367.22  366.17   NaN    0.0005
 1257 2010-12-30  365.23  366.14  366.22  364.93   NaN   -0.0027
 1258 2010-12-31  364.78  365.22  365.87  364.30   NaN   -0.0012

 [1259 rows x 7 columns],
 'SPLRCD':            Date   Price    Open    High     Low       Vol.  Change %
 T
 0    2006-01-03  260.94  258.39  261.33  255.03  3160000.0    0.0099
 1    2006-01-04  260.97  260.86  261.25  260.03  3150000.0    0.0001
 2    2006-01-05  261.37  260.93  262.29  260.48  3180000.0    0.0015
 3    2006-01-06  263.73  261.37  263.75  261.37  3170000.0    0.0090
 4    2006-01-09  265.94  263.73  266.04  263.36  3070000.0    0.0084
 ...         ...     ...     ...     ...     ...        ...       ...
 1254 2010-12-27  296.42  297.29  297.29  294.81  1880000.0   -0.0029
 1255 2010-12-28  295.75  296.42  296.81  294.54  2010000.0   -0.0023
 1256 2010-12-29  296.47  295.75  297.76  295.75  1880000.0    0.0024
 1257 2010-12-30  296.24  296.47  296.87  295.70  1720000.0   -0.0008
 1258 2010-12-31  295.54  296.23  296.23  294.62  1670000.0   -0.0024

 [1259 rows x 7 columns],
 'SPLRCI':            Date   Price    Open    High     Low       Vol.  Change %
 T
 0    2006-01-03  292.73  290.60  293.06  287.79  1350000.0    0.0073
 1    2006-01-04  293.42  292.73  293.76  292.30  1230000.0    0.0024
 2    2006-01-05  292.53  293.42  293.42  291.72  1090000.0   -0.0030
 3    2006-01-06  294.18  292.53  294.58  292.40  1220000.0    0.0056
 4    2006-01-09  295.70  294.18  295.92  293.84  1290000.0    0.0052
 ...         ...     ...     ...     ...     ...        ...       ...
 1254 2010-12-27  301.17  300.67  301.54  298.92   879410.0    0.0017
 1255 2010-12-28  301.45  301.17  301.83  300.05  1090000.0    0.0009
 1256 2010-12-29  301.31  301.37  302.52  301.31   941030.0   -0.0005
 1257 2010-12-30  300.78  301.29  301.90  300.57   827850.0   -0.0018
 1258 2010-12-31  301.12  300.78  301.61  299.92   894710.0    0.0011

 [1259 rows x 7 columns],
 'SPLRCU':            Date   Price    Open    High     Low        Vol.  Change %
 T
 0    2006-01-03  162.79  159.66  162.84  159.45  53630000.0    0.0196
 1    2006-01-04  162.91  162.78  163.09  160.55  56040000.0    0.0007
 2    2006-01-05  161.86  162.91  163.26  161.58  51240000.0   -0.0064
 3    2006-01-06  163.33  161.86  163.44  161.65  42920000.0    0.0091
 4    2006-01-09  162.60  163.33  163.33  161.86  41000000.0   -0.0045
 ...         ...     ...     ...     ...     ...         ...       ...
 1254 2010-12-27  159.68  159.74  160.24  159.02  36950000.0   -0.0004
 1255 2010-12-28  160.06  159.68  160.15  159.22  42690000.0    0.0024
 1256 2010-12-29  159.65  159.93  160.06  159.25  42070000.0   -0.0026
 1257 2010-12-30  159.35  159.65  159.94  159.18  39760000.0   -0.0019
 1258 2010-12-31  159.34  159.35  159.96  159.18  40190000.0   -0.0001

 [1259 rows x 7 columns],
 'VIX':            Date  Price   Open   High    Low  Vol.  Change %
 T
 0    2006-01-03  11.14  12.25  12.51  10.99   NaN   -0.0771
 1    2006-01-04  11.37  11.22  11.71  10.97   NaN    0.0206
 2    2006-01-05  11.31  11.43  11.84  11.31   NaN   -0.0053
 3    2006-01-06  11.00  11.23  11.50  10.81   NaN   -0.0274
 4    2006-01-09  11.13  11.35  11.35  10.98   NaN    0.0118
 ...         ...    ...    ...    ...    ...   ...       ...
 1254 2010-12-27  17.67  18.26  18.32  17.66   NaN    0.0729
 1255 2010-12-28  17.52  17.30  17.99  17.30   NaN   -0.0085
 1256 2010-12-29  17.28  17.49  17.49  17.02   NaN   -0.0137
 1257 2010-12-30  17.52  17.65  17.89  17.46   NaN    0.0139
 1258 2010-12-31  17.75  17.91  18.13  17.75   NaN    0.0131

 [1259 rows x 7 columns]}

In [120]:
def elem_overall_processing(df_dict: Dict[str, pd.DataFrame]) -> pd.DataFrame:
    """
    1. 필요 없는 column drop, Price column만 남기기
    2. 각 str를 price의 column name으로 변경하여 concatenate해버리기
    3. return 추가하기 (R_t = (P_t - P_{t-1}) / P_{t-1}) R_1 = 1
    4. log return 추가하기
    5. vol_{20} 추가하기  # futher 이용
    6. vol_{60} 추가하기
    7. vol_{20} / vol_{60} 추가하기
    8 5,6,7, VIX feature에 대해서 moving normalization 적용하기
    
    """
    new_df_list = []
    for key, each_df in df_dict.items():
        new_df = each_df[["Date","Price"]].copy()
        new_df.rename(columns={"Price": f"{key}_close"}, inplace=True)
        new_df_list.append(new_df)

    merged_df = new_df_list[0]
    for each_df in new_df_list[1:]:
        merged_df = pd.merge(merged_df, each_df, on="Date", how="outer")
        
    for key in df_dict.keys():
        if "VIX" in key:
            continue
        
        # return 추가
        merged_df[f'{key}_R'] = (merged_df[f"{key}_close"] - merged_df[f"{key}_close"].shift(1)) / merged_df[f"{key}_close"].shift(1)
        merged_df.loc[0, f'{key}_R'] = 0.0
        
        # log return 추가
        merged_df[f'{key}_log_r'] = np.log10(merged_df[f'{key}_R']+1)
    
    # SPX를 기준으로 데이터 processing 필요
    merged_df[f"{base_ticker}_vol20"] = merged_df[f"{base_ticker}_R"].rolling(window=20, min_periods=1).std()
    merged_df[f"{base_ticker}_vol60"] = merged_df[f"{base_ticker}_R"].rolling(window=60, min_periods=1).std()
    merged_df[f"{base_ticker}_vol20_div_vol60"] = merged_df[f"{base_ticker}_vol20"] / merged_df[f"{base_ticker}_vol60"]
    merged_df.loc[0, f"{base_ticker}_vol20"] = 0 
    merged_df.loc[0, f"{base_ticker}_vol60"] = 0
    merged_df.loc[0, f"{base_ticker}_vol20_div_vol60"] = 1
    
    for col in [f'{base_ticker}_vol20', f'{base_ticker}_vol20_div_vol60', f'VIX_close']:
        expanding_mean = merged_df[col].expanding().mean()
        expanding_std = merged_df[col].expanding().std()
        merged_df[f'{col}_normalized'] = (merged_df[col] - expanding_mean) / expanding_std
    
    
    return merged_df

def overall_processing(windows_list_df_dict: List[Dict[str, Dict[str, pd.DataFrame]]]) -> List[Dict[str, Dict[str, pd.DataFrame]]]:
    new_list = []
    for each_fold in windows_list_df_dict:
        new_elem_dict = {}
        for key, each_split in each_fold.items():
            new_elem_dict[key] = elem_overall_processing(each_split)
        new_list.append(new_elem_dict)
    
    return new_list

processed_windows_list_df_dict_deformed = overall_processing(windows_list_df_dict_deformed)

In [ ]:
### reference code block subject to delete ###

import pandas as pd
from typing import Dict

def elem_overall_processing(df_dict: Dict[str, pd.DataFrame]) -> pd.DataFrame:
    new_df_list = []
    
    for key, each_df in df_dict.items():
        # Date와 Price 열만 남기고 다른 열 삭제
        each_df = each_df[['Date', 'Price']]
        
        # Price 열의 이름을 key로 변경
        each_df.rename(columns={'Price': key}, inplace=True)
        
        # 새로운 DataFrame 리스트에 추가
        new_df_list.append(each_df)
    
    # Date 열을 기준으로 모든 DataFrame 병합
    merged_df = new_df_list[0]
    for df in new_df_list[1:]:
        merged_df = pd.merge(merged_df, df, on='Date', how='outer')
    
    return merged_df

# 예시 데이터 생성
data1 = {
    'Date': pd.date_range(start='1/1/2000', periods=10, freq='D'),
    'Price': range(10),
    'Open': range(10, 20),
    'High': range(20, 30),
    'Low': range(30, 40),
    'Vol.': range(40, 50),
    'Change %': range(50, 60)
}
data2 = {
    'Date': pd.date_range(start='1/1/2000', periods=10, freq='D'),
    'Price': range(10, 20),
    'Open': range(20, 30),
    'High': range(30, 40),
    'Low': range(40, 50),
    'Vol.': range(50, 60),
    'Change %': range(60, 70)
}

df_dict = {
    'SPX': pd.DataFrame(data1),
    'VIX': pd.DataFrame(data2)
}

# 전체 처리 함수 호출
result_df = elem_overall_processing(df_dict)

# 결과 확인
print(result_df)

In [67]:
windows_list_df_dict[0]

{'SPX': {'train':            Date   Price    Open    High     Low  Vol.  Change %
  T
  0    2006-01-03  1268.8  1248.3  1270.2  1245.7   NaN    0.0164
  1    2006-01-04  1273.5  1268.8  1275.4  1267.7   NaN    0.0037
  2    2006-01-05  1273.5  1273.5  1276.9  1270.3   NaN    0.0000
  3    2006-01-06  1285.5  1273.5  1286.1  1273.5   NaN    0.0094
  4    2006-01-09  1290.2  1285.5  1290.8  1284.8   NaN    0.0037
  ...         ...     ...     ...     ...     ...   ...       ...
  1254 2010-12-27  1257.5  1254.7  1258.4  1251.5   NaN    0.0006
  1255 2010-12-28  1258.5  1259.1  1259.9  1256.2   NaN    0.0008
  1256 2010-12-29  1259.8  1258.8  1262.6  1258.8   NaN    0.0010
  1257 2010-12-30  1257.9  1259.4  1261.1  1256.3   NaN   -0.0015
  1258 2010-12-31  1257.6  1256.8  1259.3  1254.2   NaN   -0.0002

  [1259 rows x 7 columns],
  'val':            Date   Price    Open    High     Low  Vol.  Change %
  T
  1259 2011-01-03  1271.9  1257.6  1276.2  1257.6   NaN    0.0114
  1260 2011-01-04  1270.2  1273.0  1274.1  1262.7   NaN   -0.0013
  1261 2011-01-05  1276.6  1268.8  1277.6  1265.4   NaN    0.0050
  1262 2011-01-06  1273.8  1276.3  1278.2  1270.4   NaN   -0.0022
  1263 2011-01-07  1271.5  1274.4  1276.8  1261.7   NaN   -0.0018
  ...         ...     ...     ...     ...     ...   ...       ...
  1506 2011-12-23  1265.3  1254.0  1265.4  1254.0   NaN    0.0090
  1507 2011-12-27  1265.4  1265.0  1269.4  1262.3   NaN    0.0001
  1508 2011-12-28  1249.6  1265.4  1265.8  1248.6   NaN   -0.0125
  1509 2011-12-29  1263.0  1249.8  1263.5  1249.8   NaN    0.0107
  1510 2011-12-30  1257.6  1262.8  1264.1  1257.5   NaN   -0.0043

  [252 rows x 7 columns],
  'test':            Date   Price    Open    High     Low  Vol.  Change %
  T
  1511 2012-01-03  1277.1  1258.9  1284.6  1258.9   NaN    0.0155
  1512 2012-01-04  1277.3  1277.0  1278.7  1268.1   NaN    0.0002
  1513 2012-01-05  1281.1  1277.3  1283.0  1265.3   NaN    0.0030
  1514 2012-01-06  1277.8  1280.9  1281.8  1273.3   NaN   -0.0026
  1515 2012-01-09  1280.7  1277.8  1282.0  1274.5   NaN    0.0023
  ...         ...     ...     ...     ...     ...   ...       ...
  1756 2012-12-24  1426.7  1430.2  1430.2  1424.7   NaN   -0.0024
  1757 2012-12-26  1419.8  1426.7  1429.4  1416.4   NaN   -0.0048
  1758 2012-12-27  1418.1  1419.8  1422.8  1401.8   NaN   -0.0012
  1759 2012-12-28  1402.4  1418.1  1418.1  1401.6   NaN   -0.0111
  1760 2012-12-31  1426.2  1402.4  1426.7  1398.1   NaN    0.0170

  [250 rows x 7 columns]},
 'SPLRCT': {'train':            Date  Price   Open   High    Low        Vol.  Change %
  T
  0    2006-01-03  337.5  330.8  338.5  329.7   8650000.0    0.0203
  1    2006-01-04  341.3  337.5  341.6  337.5   8150000.0    0.0111
  2    2006-01-05  344.0  341.3  344.4  341.3   8830000.0    0.0079
  3    2006-01-06  349.5  344.0  349.5  344.0  10840000.0    0.0161
  4    2006-01-09  350.5  349.5  352.4  348.0   8040000.0    0.0029
  ...         ...    ...    ...    ...    ...         ...       ...
  1254 2010-12-27  405.9  405.1  406.6  402.4   3200000.0    0.0019
  1255 2010-12-28  405.8  405.9  407.2  405.1   3180000.0   -0.0002
  1256 2010-12-29  406.2  405.8  407.5  405.8   2970000.0    0.0010
  1257 2010-12-30  405.4  406.2  406.5  404.9   2680000.0   -0.0020
  1258 2010-12-31  404.5  405.4  405.4  403.0   2870000.0   -0.0021

  [1259 rows x 7 columns],
  'val':            Date  Price   Open   High    Low       Vol.  Change %
  T
  1259 2011-01-03  409.4  404.5  411.4  404.5  6560000.0    0.0119
  1260 2011-01-04  409.9  409.4  411.0  407.6  6600000.0    0.0014
  1261 2011-01-05  412.7  409.9  412.9  408.7  7310000.0    0.0067
  1262 2011-01-06  416.4  412.7  416.6  412.7  8460000.0    0.0089
  1263 2011-01-07  415.3  416.4  416.8  411.4  7090000.0   -0.0025
  ...         ...    ...    ...    ...    ...        ...       ...
  1506 2011-12-23  411.8  407.4  411.8  407.4  3550000.0    0.0106
  1507 2011-12-27  412.3  411.8  414.0  410.9  3090000.0    0.0013
  1508 2011-12-28  408.0  412.3  412.7  407.1  3420000.0   -0.0105
  1509 2011-12-29  411.8  408.0  411.9  408.0  2930000.0    0.0093
  1510 2011-12-30  409.9  411.8  412.4  409.9  3380000.0   -0.0045

  [252 rows x 7 columns],
  'test':            Date  Price   Open   High    Low       Vol.  Change %
  T
  1511 2012-01-03  416.8  409.9  419.6  409.9  5780000.0    0.0168
  1512 2012-01-04  417.9  416.8  418.3  413.5  6280000.0    0.0026
  1513 2012-01-05  420.0  417.9  420.8  415.8  6040000.0    0.0051
  1514 2012-01-06  420.5  420.0  421.3  418.2  5870000.0    0.0011
  1515 2012-01-09  419.4  420.5  421.4  418.5  5670000.0   -0.0026
  ...         ...    ...    ...    ...    ...        ...       ...
  1756 2012-12-24  462.7  463.5  463.9  461.9  1910000.0   -0.0038
  1757 2012-12-26  459.8  462.6  464.3  458.0  2980000.0   -0.0063
  1758 2012-12-27  459.3  459.6  460.7  453.5  4220000.0   -0.0010
  1759 2012-12-28  454.0  456.5  458.9  453.8  3600000.0   -0.0116
  1760 2012-12-31  463.8  453.7  464.8  453.0  5020000.0    0.0216

  [250 rows x 7 columns]},
 'SPLRCL': {'train':            Date   Price    Open    High     Low         Vol.  Change %
  T
  0    2006-01-03  117.98  117.43  118.22  116.70   66780000.0    0.0047
  1    2006-01-04  119.04  117.98  119.38  117.98   85430000.0    0.0090
  2    2006-01-05  119.49  119.04  119.90  118.85   90120000.0    0.0038
  3    2006-01-06  119.63  119.49  119.86  119.00  129060000.0    0.0012
  4    2006-01-09  119.79  119.63  119.90  119.07   85000000.0    0.0013
  ...         ...     ...     ...     ...     ...          ...       ...
  1254 2010-12-27  128.18  127.81  128.43  127.53   63810000.0    0.0029
  1255 2010-12-28  128.12  128.18  128.47  128.08   84060000.0   -0.0005
  1256 2010-12-29  128.24  128.12  128.60  128.00   69160000.0    0.0009
  1257 2010-12-30  128.33  128.24  128.47  127.95   57590000.0    0.0007
  1258 2010-12-31  128.74  128.33  129.27  128.33   68630000.0    0.0032

  [1259 rows x 7 columns],
  'val':            Date   Price    Open    High     Low         Vol.  Change %
  T
  1259 2011-01-03  130.48  128.74  130.57  128.74  169310000.0    0.0135
  1260 2011-01-04  131.66  130.48  131.66  130.48  225410000.0    0.0090
  1261 2011-01-05  132.46  131.66  132.75  131.00  201530000.0    0.0061
  1262 2011-01-06  128.79  131.04  131.15  127.52  198680000.0   -0.0277
  1263 2011-01-07  127.69  128.79  128.79  126.86  188810000.0   -0.0085
  ...         ...     ...     ...     ...     ...          ...       ...
  1506 2011-12-23  128.89  127.68  129.03  127.68   64670000.0    0.0095
  1507 2011-12-27  129.33  128.89  129.56  128.79   55130000.0    0.0034
  1508 2011-12-28  128.46  129.33  129.42  128.35   69440000.0   -0.0067
  1509 2011-12-29  129.57  128.46  129.62  128.46   76550000.0    0.0086
  1510 2011-12-30  129.82  129.57  130.23  129.33   90940000.0    0.0019

  [252 rows x 7 columns],
  'test':            Date   Price    Open    High     Low         Vol.  Change %
  T
  1511 2012-01-03  129.91  129.82  130.77  129.82  121150000.0    0.0007
  1512 2012-01-04  129.19  129.91  130.71  128.93  121670000.0   -0.0055
  1513 2012-01-05  128.54  129.19  129.19  127.74  135200000.0   -0.0050
  1514 2012-01-06  126.28  126.99  127.22  126.07  148810000.0   -0.0176
  1515 2012-01-09  126.22  126.28  126.83  125.54  115510000.0   -0.0005
  ...         ...     ...     ...     ...     ...          ...       ...
  1756 2012-12-24  146.19  146.03  146.76  145.33   33840000.0    0.0008
  1757 2012-12-26  146.15  146.18  146.90  145.45   54570000.0   -0.0003
  1758 2012-12-27  145.94  146.08  146.28  144.07   90620000.0   -0.0014
  1759 2012-12-28  144.40  145.44  145.75  144.29   77050000.0   -0.0106
  1760 2012-12-31  146.04  144.38  146.08  143.53  101640000.0    0.0114

  [250 rows x 7 columns]},
 'SPLRCM': {'train':            Date   Price    Open    High     Low        Vol.  Change %
  T
  0    2006-01-03  190.76  187.12  190.92  186.88  85810000.0    0.0195
  1    2006-01-04  191.93  190.76  191.97  190.38  82620000.0    0.0061
  2    2006-01-05  191.74  191.93  191.93  190.72  64140000.0   -0.0010
  3    2006-01-06  194.10  191.74  194.54  191.74  56460000.0    0.0123
  4    2006-01-09  193.82  194.10  194.43  193.47  54500000.0   -0.0014
  ...         ...     ...     ...     ...     ...         ...       ...
  1254 2010-12-27  237.93  237.98  238.22  236.21  52050000.0   -0.0003
  1255 2010-12-28  238.62  237.93  238.86  237.93  56240000.0    0.0029
  1256 2010-12-29  239.51  238.45  239.97  238.45  64490000.0    0.0037
  1257 2010-12-30  239.42  239.45  240.43  239.20  62020000.0   -0.0004
  1258 2010-12-31  239.61  239.42  240.22  238.87  53930000.0    0.0008

  [1259 rows x 7 columns],
  'val':            Date   Price    Open    High     Low         Vol.  Change %
  T
  1259 2011-01-03  241.27  239.61  243.54  239.61  126150000.0    0.0069
  1260 2011-01-04  239.99  241.27  242.15  236.79  190390000.0   -0.0053
  1261 2011-01-05  240.01  239.91  240.28  237.48  143950000.0    0.0001
  1262 2011-01-06  238.99  240.01  241.31  238.31  147830000.0   -0.0042
  1263 2011-01-07  238.77  238.99  240.30  236.83  145950000.0   -0.0009
  ...         ...     ...     ...     ...     ...          ...       ...
  1506 2011-12-23  214.31  212.25  214.35  212.25   70340000.0    0.0096
  1507 2011-12-27  214.29  214.31  215.22  213.60   65300000.0   -0.0001
  1508 2011-12-28  209.48  214.07  214.19  209.17   94420000.0   -0.0224
  1509 2011-12-29  211.78  209.41  211.96  208.92   77450000.0    0.0110
  1510 2011-12-30  211.71  211.78  212.81  211.54   69100000.0   -0.0003

  [252 rows x 7 columns],
  'test':            Date   Price    Open    High     Low         Vol.  Change %
  T
  1511 2012-01-03  217.95  211.71  218.58  211.71  143250000.0    0.0295
  1512 2012-01-04  219.26  217.86  219.55  216.45  124920000.0    0.0060
  1513 2012-01-05  219.99  219.26  220.91  217.11  125120000.0    0.0033
  1514 2012-01-06  219.81  219.99  220.54  218.46  121110000.0   -0.0008
  1515 2012-01-09  220.31  219.81  221.05  219.36  143330000.0    0.0023
  ...         ...     ...     ...     ...     ...          ...       ...
  1756 2012-12-24  235.46  234.26  235.93  233.20   39950000.0    0.0047
  1757 2012-12-26  236.92  235.71  237.80  235.71   78030000.0    0.0062
  1758 2012-12-27  235.95  236.98  237.27  233.09   90880000.0   -0.0041
  1759 2012-12-28  232.93  235.49  235.49  232.61   73820000.0   -0.0128
  1760 2012-12-31  237.62  232.85  237.80  232.49  106400000.0    0.0201

  [250 rows x 7 columns]},
 'SPLRCREC': {'train':            Date   Price    Open    High     Low        Vol.  Change %
  T
  0    2006-01-03  133.60  130.33  133.76  129.80         NaN    0.0251
  1    2006-01-04  134.23  133.52  134.45  133.36         NaN    0.0047
  2    2006-01-05  135.40  134.14  136.22  134.13         NaN    0.0087
  3    2006-01-06  137.16  135.55  137.16  135.55         NaN    0.0130
  4    2006-01-09  138.14  137.28  138.14  137.14         NaN    0.0071
  ...         ...     ...     ...     ...     ...         ...       ...
  1254 2010-12-27  120.45  118.83  120.45  118.39  22810000.0    0.0135
  1255 2010-12-28  120.58  120.40  120.79  119.85  24710000.0    0.0011
  1256 2010-12-29  120.98  120.53  121.08  120.10  21910000.0    0.0033
  1257 2010-12-30  120.90  120.92  121.33  120.42  21430000.0   -0.0007
  1258 2010-12-31  120.58  120.89  121.51  120.44  24190000.0   -0.0026

  [1259 rows x 7 columns],
  'val':            Date   Price    Open    High     Low        Vol.  Change %
  T
  1259 2011-01-03  123.18  120.63  123.27  120.63  45370000.0    0.0216
  1260 2011-01-04  120.74  123.20  123.42  120.15  55620000.0   -0.0198
  1261 2011-01-05  121.55  120.69  121.56  120.52  42920000.0    0.0067
  1262 2011-01-06  120.28  121.55  121.59  120.21  50000000.0   -0.0104
  1263 2011-01-07  120.40  120.31  121.12  119.27  50750000.0    0.0010
  ...         ...     ...     ...     ...     ...         ...       ...
  1506 2011-12-23  130.61  129.94  130.62  129.59  20620000.0    0.0052
  1507 2011-12-27  131.27  130.61  132.10  129.87  22550000.0    0.0051
  1508 2011-12-28  129.49  131.25  131.25  129.49  31470000.0   -0.0136
  1509 2011-12-29  130.75  129.50  130.96  129.50  27980000.0    0.0097
  1510 2011-12-30  130.15  130.76  131.59  130.14  26530000.0   -0.0046

  [252 rows x 7 columns],
  'test':            Date   Price    Open    High     Low        Vol.  Change %
  T
  1511 2012-01-03  130.97  130.18  133.61  129.97  55470000.0    0.0063
  1512 2012-01-04  128.75  130.96  130.96  128.64  52180000.0   -0.0170
  1513 2012-01-05  129.94  128.75  130.17  128.07  45000000.0    0.0092
  1514 2012-01-06  129.31  129.95  130.37  129.07  45510000.0   -0.0048
  1515 2012-01-09  129.02  129.31  129.71  128.73  37120000.0   -0.0022
  ...         ...     ...     ...     ...     ...         ...       ...
  1756 2012-12-24  151.36  150.96  151.73  150.35  13020000.0    0.0029
  1757 2012-12-26  150.25  151.34  151.37  149.87  22890000.0   -0.0073
  1758 2012-12-27  150.69  150.18  151.06  148.90  25210000.0    0.0029
  1759 2012-12-28  149.33  150.48  150.97  149.30  22660000.0   -0.0090
  1760 2012-12-31  151.26  149.20  151.27  148.96  31410000.0    0.0129

  [250 rows x 7 columns]},
 'SPLRCS': {'train':            Date   Price    Open    High     Low         Vol.  Change %
  T
  0    2006-01-03  241.77  240.17  241.83  239.09  126580000.0    0.0067
  1    2006-01-04  242.36  241.77  242.61  241.59  114080000.0    0.0024
  2    2006-01-05  241.27  242.36  242.82  240.94  126840000.0   -0.0045
  3    2006-01-06  242.35  241.27  242.35  240.73  113140000.0    0.0045
  4    2006-01-09  243.22  242.35  243.42  241.93  102980000.0    0.0036
  ...         ...     ...     ...     ...     ...          ...       ...
  1254 2010-12-27  303.27  304.56  304.56  303.18   81850000.0   -0.0042
  1255 2010-12-28  303.75  303.27  304.02  302.87   90390000.0    0.0016
  1256 2010-12-29  303.72  303.62  304.47  303.62   93560000.0   -0.0001
  1257 2010-12-30  303.46  303.72  303.72  303.03   82620000.0   -0.0009
  1258 2010-12-31  303.58  303.46  304.18  302.83   87260000.0    0.0004

  [1259 rows x 7 columns],
  'val':            Date   Price    Open    High     Low         Vol.  Change %
  T
  1259 2011-01-03  304.12  303.58  304.67  303.54  187950000.0    0.0018
  1260 2011-01-04  303.00  304.12  304.12  302.25  221610000.0   -0.0037
  1261 2011-01-05  303.19  302.96  304.02  302.19  207020000.0    0.0006
  1262 2011-01-06  302.08  303.14  303.14  301.40  211870000.0   -0.0037
  1263 2011-01-07  300.61  302.08  302.08  299.82  214540000.0   -0.0049
  ...         ...     ...     ...     ...     ...          ...       ...
  1506 2011-12-23  336.96  333.94  337.02  333.94  106590000.0    0.0090
  1507 2011-12-27  336.82  336.96  338.05  336.74   95250000.0   -0.0004
  1508 2011-12-28  335.11  336.68  337.11  334.93   86410000.0   -0.0051
  1509 2011-12-29  337.43  335.11  337.54  335.11   81680000.0    0.0069
  1510 2011-12-30  335.54  337.43  337.43  335.47   82150000.0   -0.0056

  [252 rows x 7 columns],
  'test':            Date   Price    Open    High     Low         Vol.  Change %
  T
  1511 2012-01-03  335.68  335.54  338.63  335.54  183990000.0    0.0004
  1512 2012-01-04  334.97  335.64  335.64  333.76  149920000.0   -0.0021
  1513 2012-01-05  334.36  334.97  334.97  332.76  167950000.0   -0.0018
  1514 2012-01-06  332.16  334.31  334.31  331.57  150020000.0   -0.0066
  1515 2012-01-09  332.64  332.16  332.91  331.74  138480000.0    0.0014
  ...         ...     ...     ...     ...     ...          ...       ...
  1756 2012-12-24  363.03  364.10  364.10  362.31   52250000.0   -0.0035
  1757 2012-12-26  360.04  362.97  363.17  359.34   97420000.0   -0.0082
  1758 2012-12-27  360.36  359.93  361.09  357.73  119600000.0    0.0009
  1759 2012-12-28  356.83  359.85  360.16  356.69  107540000.0   -0.0098
  1760 2012-12-31  360.78  356.57  360.94  355.57  138200000.0    0.0111

  [250 rows x 7 columns]},
 'SPSY': {'train':            Date   Price    Open    High     Low       Vol.  Change %
  T
  0    2006-01-03  433.48  426.40  433.79  424.85  2320000.0    0.0166
  1    2006-01-04  432.63  433.48  434.56  431.21  2310000.0   -0.0020
  2    2006-01-05  434.19  432.63  434.19  432.32  2050000.0    0.0036
  3    2006-01-06  436.43  434.19  436.91  433.15  1980000.0    0.0052
  4    2006-01-09  438.29  436.43  438.44  436.20  1960000.0    0.0043
  ...         ...     ...     ...     ...     ...        ...       ...
  1254 2010-12-27  215.65  213.62  215.66  212.81  6320000.0    0.0095
  1255 2010-12-28  215.71  215.64  216.28  215.21  5350000.0    0.0003
  1256 2010-12-29  215.08  215.69  215.97  215.01  4370000.0   -0.0029
  1257 2010-12-30  214.32  215.07  215.07  213.90  4130000.0   -0.0035
  1258 2010-12-31  214.77  214.32  215.09  213.85  4050000.0    0.0021

  [1259 rows x 7 columns],
  'val':            Date   Price    Open    High     Low        Vol.  Change %
  T
  1259 2011-01-03  219.71  214.77  219.98  214.77  14300000.0    0.0230
  1260 2011-01-04  219.19  219.69  220.26  217.49  12310000.0   -0.0024
  1261 2011-01-05  221.80  219.16  222.07  218.46  14010000.0    0.0119
  1262 2011-01-06  220.41  221.80  222.34  220.25  14460000.0   -0.0063
  1263 2011-01-07  218.38  220.41  221.31  215.77  16550000.0   -0.0092
  ...         ...     ...     ...     ...     ...         ...       ...
  1506 2011-12-23  177.55  176.24  177.55  175.94   4580000.0    0.0074
  1507 2011-12-27  176.34  177.54  178.12  176.34   3870000.0   -0.0068
  1508 2011-12-28  173.53  176.29  176.31  173.48   4230000.0   -0.0159
  1509 2011-12-29  176.33  173.52  176.33  173.52   4370000.0    0.0161
  1510 2011-12-30  175.23  176.32  176.32  175.23   4080000.0   -0.0062

  [252 rows x 7 columns],
  'test':            Date   Price    Open    High     Low        Vol.  Change %
  T
  1511 2012-01-03  180.06  175.23  181.53  175.23   7230000.0    0.0276
  1512 2012-01-04  179.12  179.92  179.92  177.24   6560000.0   -0.0052
  1513 2012-01-05  181.61  179.12  182.54  176.94  10670000.0    0.0139
  1514 2012-01-06  180.58  181.61  181.74  179.46   7370000.0   -0.0057
  1515 2012-01-09  181.49  180.58  182.09  180.44   6480000.0    0.0050
  ...         ...     ...     ...     ...     ...         ...       ...
  1756 2012-12-24  221.12  221.28  221.45  220.78   1730000.0   -0.0011
  1757 2012-12-26  220.79  221.17  221.79  220.17   3620000.0   -0.0015
  1758 2012-12-27  220.01  220.79  221.59  217.15   5160000.0   -0.0035
  1759 2012-12-28  218.22  219.56  219.98  218.13   3690000.0   -0.0081
  1760 2012-12-31  221.24  218.09  221.32  217.53   5430000.0    0.0138

  [250 rows x 7 columns]},
 'SPNY': {'train':            Date   Price    Open    High     Low         Vol.  Change %
  T
  0    2006-01-03  389.54  372.73  389.54  372.73  161790000.0    0.0451
  1    2006-01-04  390.84  389.54  391.77  385.54  133150000.0    0.0033
  2    2006-01-05  386.76  390.84  390.96  383.52  143810000.0   -0.0104
  3    2006-01-06  395.48  386.76  396.61  386.76  128610000.0    0.0225
  4    2006-01-09  395.46  395.48  397.78  392.42  112680000.0   -0.0001
  ...         ...     ...     ...     ...     ...          ...       ...
  1254 2010-12-27  500.16  501.98  501.98  498.65   76820000.0   -0.0036
  1255 2010-12-28  502.36  500.16  503.08  499.85   88190000.0    0.0044
  1256 2010-12-29  506.38  502.36  508.09  502.36  105430000.0    0.0080
  1257 2010-12-30  506.96  506.37  509.06  505.25  110910000.0    0.0011
  1258 2010-12-31  506.75  506.96  509.27  505.44   99520000.0   -0.0004

  [1259 rows x 7 columns],
  'val':            Date   Price    Open    High     Low         Vol.  Change %
  T
  1259 2011-01-03  511.54  506.75  514.43  506.75  161480000.0    0.0095
  1260 2011-01-04  508.41  511.54  513.47  503.72  191930000.0   -0.0061
  1261 2011-01-05  509.48  508.41  510.36  503.65  182640000.0    0.0021

In [ ]:
# sliding window by date

arr = np.arange(0, 4028)
window_size = 252*(5+1+1)
step_size = 252

def sliding_window_slicing(arr, window_size, step_size):
    num_windows = (len(arr) - window_size) // step_size + 1
    windows = []
    for i in range(num_windows):
        start = i * step_size
        end = start + window_size
        windows.append(arr[start:end])
    return windows

result = sliding_window_slicing(arr, window_size, step_size)
len(result)
result
# for win_idx in range(0, 4028, 252):
#     print(win_idx, win_idx + 252*5)

[array([   0,    1,    2, ..., 1761, 1762, 1763]),
 array([ 252,  253,  254, ..., 2013, 2014, 2015]),
 array([ 504,  505,  506, ..., 2265, 2266, 2267]),
 array([ 756,  757,  758, ..., 2517, 2518, 2519]),
 array([1008, 1009, 1010, ..., 2769, 2770, 2771]),
 array([1260, 1261, 1262, ..., 3021, 3022, 3023]),
 array([1512, 1513, 1514, ..., 3273, 3274, 3275]),
 array([1764, 1765, 1766, ..., 3525, 3526, 3527]),
 array([2016, 2017, 2018, ..., 3777, 3778, 3779])]

X: fold 방법으로 해야 겠다. 그리고, 5:1:1의 비율로 test하는 것으로 한다.

할 것 7년 단위 sampler implement해야 한다.
10개씩 window를 가지고 하는 방식으로,

나의 방법의 우월성을 보이려면 단순하게 가장 마지막 년도에 대하여, 좋은 성능을 보이면 된다.
data sample의 경우에 4000개 정도는 되서, 아마도 매우 작은 lora network 구현 하면 일단은 되긴 할 듯
prompt 기반으로 finetune하면 되기야 될 듯